extend layout

block underbarContent
	#datepub #{title}

block content
	.article-contain
		each val, index in list
			.article-item(style="background-image: url('#{list[index].link}');" onclick="location.href='#';")
				.article-headline
					a(href='#') #{list[index].headline}