extend layout

block content
	p
		| This is the past episodes page
		| vehicula. Sed auctor neque eu tellus ut in.  
	p
		|  test
	#items.scroll
		include ../public/html/episode-1.html

block footer
	script(src='/js/jquery.jscroll.js')
	script(type='text/javascript').
		$('.scroll').jscroll({debug: true, nextSelector: 'a.next:last'});