extend layout

block content
  p
    | This is the past episodes page
    | vehicula. Sed auctor neque eu tellus ut in.
    
  .video-item
    .img-container
      img(src= "http://")
    p
      | Date Published
      button(class="btn",onclick="location.href='videopage/'").
        Play


