extend layout

block underbarContent
	#datepub
		| #{date}

block content
	#items.scroll
		include ../public/html/episode-1.html

block footer
	script(src='/js/jquery.jscroll.js')
	script(type='text/javascript').
		$('.scroll').jscroll({debug: true, nextSelector: 'a.next:last'});