extend layout

block content
  p
    | &nbsp;
  #videocontain
    span.LimelightEmbeddedPlayer
    script(type='text/javascript', href='http://video.limelight.com/player/embed.js')
    object(type='application/x-shockwave-flash', id='limelight_player_clip', name='limelight_player_clip', class='LimelightEmbeddedPlayerFlash', width='330', height='186', data='http://video.limelight.com/player/loader.swf')
      param(name='movie', value='http://video.limelight.com/player/loader.swf')
      param(name='wmode', value='window')
      param(name='allowScriptAccess', value='always')
      param(name='allowFullScreen', value='true')
      param(name='flashVars', value='playerForm=Player&amp;mediaId=5531d754c2ca4b57b5e73ea00f5a0284&amp;channelId=bf1248a0d30443d5937d3632de55cbc4')
    script(type='text/javascript').
      LimelightPlayerUtil.initEmbed('limelight_player_clip');
      
  #address
  #title
