doctype html
html
  head
    title #{title} - Game On Web-App
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
  body
    #mobilecon
      #mobilenavhead
        #navleft
          img(src= '/images/MenuButton.png')
          a(href='/')
            img(src= '/images/GameOnLogo.png')
        #navright
          a(href='/sports')
            img(src= '/images/SportIcon.png')          
          a(href='/schools')
            img(src= '/images/SchoolIcon.png')
          a(href='/search')  
            img(src= '/images/SearchButton.png')
      #underbar
        block underbarContent       
      #mobilemaincont
        block content
      footer
        block footer
        p Copyright 2014 - Calkins Media Incorporated