!!!5
html
  head
    title #{title} - Game On Web-App
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
  body
    #mobilecon
      #mobilenavhead
        #navleft
          img(src= '/images/MenuButton.png')
          a(href='/')
            img(src= '/images/GameOnLogo.png')
        #navright
          a(href='/sports')
            img(src= '/images/SportIcon.png')          
          a(href='/schools')
            img(src= '/images/SchoolIcon.png')
          a(href='/search')  
            img(src= '/images/SearchButton.png')
      #underbar
        #datepub
          | May 15, 2014
        #pastbutton
          .div(class="btn",onclick="location.href='/episodes?page=1'").
            View Past Episodes
      #mobilemaincont
        block content
      footer
        script(src='/js/jquery.jscroll.js')
        script(type='text/javascript').
          $('.scroll').jscroll();
        p Copyright 2014
        