span(class="LimelightEmbeddedPlayer")
			script(src='http://video.limelight.com/player/embed.js')
			object(id="#{playerID}", class="LimeLightEmbeddedPlayerFlash",width="320",height="180",data="http://video.limelight.com/player/loader.swf",name="#{playerID}",type="application/x-shockwave-flash")
				param(value="http://video.limelight.com/player/loader.swf",name="movie")
				param(value="window",name="wmode")
				param(value="always",name="allowScriptAccess")
				param(value="true",name="allowFullScreen")
				param(value="playerForm=Player&mediaId=#{media}",name="flashVars")
			script LimelightPlayerUtil.initEmbed("#{playerID}");