span(class="LimelightEmbeddedPlayer")
			script(src='http://video.limelight.com/player/embed.js')
			object(id="limelight_player_clip", class="LimeLightEmbeddedPlayerFlash",width="325",height="183",data="http://video.limelight.com/player/loader.swf",name="limelight_player_clip",type="application/x-shockwave-flash")
				param(value="http://video.limelight.com/player/loader.swf",name="movie")
				param(value="window",name="wmode")
				param(value="always",name="allowScriptAccess")
				param(value="true",name="allowFullScreen")
				param(value="playerForm=Player&mediaId=#{media}&channelId=bf1248a0d30443d5937d3632de55cbc4",name="flashVars")
			script LimelightPlayerUtil.initEmbed("limelight_player_clip");