block content
  script(src='/js/moreepisodes.js')
  #items2.scroll
  script
    console.log('seriously dont shut down');
    console.log('value of pageNumnewvar '+pageNumnewvar);
    console.log('value of moreNextpagetest '+moreNextpagetest);
  .closing
  script
    //$(".closing").append('<a href="moreepisodes?page='+moreNextpagetest+'">next page</a>');
  