extend layout

block underbarContent
	#datepub #{title}

block content
	link(rel='stylesheet', href='/stylesheets/magnific-popup.css')


	.article-contain
		ul#settings-list
			li.settings-title App Information
			li 
				a(href='#') About
			li 
				a.simple-ajax-popup-align-top(href='/html/privacypolicy.html') Privacy Policy
			li 
				a.simple-ajax-popup-align-top2(href='/html/terms.html') Terms of Use
			li 
				a(href='#') Feedback

	script(src='/js/jquerymagnific-popup.js')
	script(src='/js/ajax-pop.js')