extend layout

block underbarContent
	#datepub Subscription Required
block content
	form(action='/login', method='post')
		p
			label Username:
				input(type='text', name='username')
		p
			label Password:
				input(type='password', name='password')
		if title
			p
				input(type='hidden', name='title', value='#{title}')
		if guid
			p
				input(type='hidden', name='guid', value='#{guid}')
		p
			input(type='submit', class='btn btn-primary btn-sm', value='Log In')

		if message
			p #{message}
block footer