extend layout

block underbarContent
  #datepub
    | #{date}
  #pastbutton
    .div(class="btn",onclick="location.href='/episodes'").
     View Past Episodes

block content
  #videocontainer
    #videocontain
      include ../views/limelightplayer.jade

block footer
  script(src='/js/limelight.js')