.img-details {background-color:rgba(0, 0, 0, 0.3); position: absolute; top: 62%; z-index:999; padding:10px 15px;}
.img-title {font-size:25px; line-height:29px; color:#FFF; display:block;}
.img-caption {font-size:15px; color:#FFF; display:block; font-style:italic}
.jssora11l, .jssora11r, .jssora11ldn, .jssora11rdn {position: absolute; cursor: pointer; display: block; background: url(/images/a11.png) no-repeat; overflow: hidden;}
.jssora11l {background-position: -11px -41px;}
.jssora11r {background-position: -71px -41px;}
.jssora11l:hover {background-position: -131px -41px;}
.jssora11r:hover {background-position: -191px -41px;}
.jssora11ldn {background-position: -251px -41px;}
.jssora11rdn {background-position: -311px -41px;}
.jssort07 .i {position: absolute;top: 0px; left: 0px; width: 99px; height: 66px;  filter: alpha(opacity=80); opacity: .8;}
.jssort07 .p:hover .i, .jssort07 .pav .i {filter: alpha(opacity=100); opacity: 1;}
.jssort07 .o {position: absolute; top: 0px; left: 0px; width: 97px; height: 64px; border: 1px solid #000; transition: border-color .6s; -moz-transition: border-color .6s; -webkit-transition: border-color .6s; -o-transition: border-color .6s;}

* html .jssort07 .o {/* ie quirks mode adjust */width /**/: 99px; height /**/: 66px;}
.jssort07 .pav .o, .jssort07 .p:hover .o {border-color: #fff;}
.jssort07 .pav:hover .o {border-color: #0099FF;}
.jssort07 .p:hover .o {transition: none; -moz-transition: none; -webkit-transition: none; -o-transition: none;}
#slider1_container {position: relative; width: 720px; height: 480px; overflow: hidden;}