/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Quicksand");
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
body {
  font-family: 'Georgia';
  background-image: url("/images/NormalBG.jpg");
  background-color: #faf9f0;
  color: #444;
  height: 100%;
  margin: 0;
  padding: 0;
}
header {
  font-family: 'Quicksand';
  padding: 50px 10px;
  color: #fff;
  font-size: 25px;
  text-align: center;
/*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color: #032956;
  border-bottom: 1px solid #021d3c;
  text-shadow: 0px -1px 0px #021d3c;
}
.container {
  width: 500px;
  margin: 50px auto;
  overflow: hidden;
}
.main-content {
  float: left;
  width: 300px;
}
.main-content p {
  margin-bottom: 20px;
}
.sidebar {
  float: left;
  width: 200px;
}
.sidebar .widget {
/*
     * Note the lack of vendor
     * prefixes here. Nib will
     * add them for us
     */
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-left: 20px;
  background-color: #faf9f0;
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 3px 0px -2px rgba(0,0,0,0.1);
  box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 3px 0px -2px rgba(0,0,0,0.1);
}
.sidebar .widget h1 {
  font-family: 'Quicksand';
  margin: 13px 10px 4px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ddd;
  -webkit-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px;
  margin-bottom: 10px;
}
.sidebar .widget p {
  font-size: 13px;
  padding: 0px 10px;
  margin-bottom: 10px;
}
p {
  line-height: 1.8;
  padding-left: 10px;
}
footer {
  width: 90%;
  color: #fff;
  margin: 50px auto;
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  font-size: 13px;
}
.clear {
  clear: both;
}
#video-item {
  padding-left: 15px;
  padding-top: 10px;
}
#mobilecon {
  width: 100%;
  height: 100%;
/* background-image:url(/images/NormalBG.jpg) */
  overflow: auto;
  display: block;
  overflow: auto;
  display: block;
}
#mobilenavhead {
  height: 35px;
  background-color: #02254f;
}
#mobilenavhead img {
  height: 31px;
}
#navright {
  float: right;
  width: 110px;
  padding-top: 2px;
}
#navleft {
  float: left;
  width: 140px;
}
#underbar {
  height: 30px;
  background-color: #35617e;
}
#pastbutton {
  float: right;
  width: 130px;
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  margin-right: 5px;
  text-align: center;
  background-color: #29abe2;
  padding-top: 2px;
  margin-top: 3px;
}
#datepub {
  font-size: 14px;
  line-height: 30px;
  color: #29abe2;
  float: left;
  padding-left: 15px;
}
#playbutton a {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}
#videocontainer {
  text-align: center;
}
@media screen and (min-width: 320px) {
  .LimelightEmbeddedPlayer .LimeLightEmbeddedPlayerFlash {
    width: 280px;
    height: 163px;
  }
  .videocontain {
    padding-left: 4px;
    width: 325px;
    margin: 0 auto;
  }
  .vidtitle {
    font-size: 16px;
    font-weight: bold;
    padding-right: 7px;
  }
  .vidtitle a {
    color: #29abe2;
    text-decoration: none;
  }
  .img-container {
    float: left;
    padding-right: 15px;
    width: 175px;
  }
  .img-container img {
    width: 175px;
  }
  .episodeDate {
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
  }
  #playbutton {
    background-color: #29abe2;
    color: #fff;
    float: left;
    font-size: 17px;
    line-height: 20px;
    margin-left: 0;
    margin-top: 3px;
    padding-top: 2px;
    text-align: center;
    width: 120px;
  }
  #mobilemaincont {
    color: #2ab1e9;
    font-size: 19px;
    font-weight: normal;
    padding-top: 10px;
    padding-left: 5px;
  }
}
@media screen and (min-width: 720px) {
  .LimelightEmbeddedPlayer .LimeLightEmbeddedPlayerFlash {
    width: 620px;
    height: 349px;
  }
  .vidtitle {
    font-size: 20px;
    font-weight: bold;
  }
  .img-container {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 225px;
  }
  .img-container img {
    width: 225px;
  }
  .episodeDate {
    font-size: 17px;
    font-weight: 400;
    font-style: italic;
  }
  #playbutton {
    background-color: #29abe2;
    color: #fff;
    float: left;
    font-size: 14px;
    line-height: 20px;
    margin-left: 0;
    margin-top: 3px;
    padding-top: 2px;
    text-align: center;
    width: 200px;
  }
  #mobilemaincont {
    color: #2ab1e9;
    font-size: 18px;
    font-weight: normal;
    padding-top: 10px;
    padding-left: 5px;
  }
}
@media screen and (min-width: 961px) {
  .LimelightEmbeddedPlayer .LimeLightEmbeddedPlayerFlash {
    width: 860px;
    height: 484px;
  }
  .vidtitle {
    font-size: 22px;
    font-weight: bold;
  }
  .img-container {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 325px;
  }
  .episodeDate {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
  }
  .img-container img {
    width: 325px;
  }
  #playbutton {
    background-color: #29abe2;
    color: #fff;
    float: left;
    font-size: 14px;
    line-height: 20px;
    margin-left: 0;
    margin-top: 3px;
    padding-top: 2px;
    text-align: center;
    width: 310px;
  }
  #mobilemaincont {
    color: #2ab1e9;
    font-size: 20px;
    font-weight: normal;
    padding-top: 10px;
    padding-left: 5px;
  }
  #steve {
    padding-left: 5px;
  }
}
